div1 {
    font-family: helvetica;
	font-size: 30px; 
	font-weight: 900;
	text-align: center;
	text-shadow: 2px 2px #FAF630;
    margin-bottom: 150px;
    position: relative;
   animation: textgrowth 1s infinite alternate;
    }

  @keyframes textgrowth {
    0% {
    font-size: 20px;
    }
    100% {
    font-size: 40px;
    }
}


h2{
    font-family: helvetica;
	font-size: 20px; 
	text-align: right;
	text-shadow: 2px 2px #FAF630;
    margin-right: 90px;

}

body{
    background-color: #f2f3f4;
    
}


.clockdate-wrapper{
    font-family: helvetica;
  font-size: 120px; 
    text-align: center;
    font-weight: 400;
    margin-top: 250px;

    height: 67%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  background: linear-gradient(124deg, #388DF5, #FAAA52, #24E08E, #e3e81d, #FA525E, #1ddde8, #A346FF, #dd00f3, #52FAB5);
  background-size: 500% 1800%;
  
  -webkit-animation: rainbow 20s ease infinite;
  -z-animation: rainbow 20s ease infinite;
  -o-animation: rainbow 20s ease infinite;
    animation: rainbow 20s ease infinite;
    
}
  
  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow { 
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

   

    